/* #wrapper {
  /* max-width: 700px; 
  width: 100%;
  border: 2px solid #e2e2e2;
  border-color: #bbbbbb;
  border-radius: 4px;
}

#carousel {
  position: relative;
  display: flex;
  overflow: hidden;
}

#carousel .square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 50px;
  min-width: 200px;
  height: 200px;
  background-color: #ffffff14;
  border: 1px solid red;
  border-radius: 6px;
  margin: 20px;
  transition: 100ms ease-in-out;
}

#carousel .square:hover {
  background-color: #ffffff27;
  border-color: #f4f4f4;
  color: #d2d2d2;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

button {
  cursor: pointer;
  margin: 10px 10px;
  font-size: 20px;
  background-color: unset;
  color: #bbbbbb;
  border: 2px solid #bbbbbb;
  border-color: #bbbbbb;
  border-radius: 7px;
  height: 40px;
  width: 60px;
  transition: 60ms ease-in-out;
}

button:hover {
  border-color: #f4f4f4;
  color: #f4f4f4;
}
 */
.card-box-style {
  width: 96%;
  min-height: 30rem;
  padding: 3.75rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  /* margin: 30px 10px 30px 30px; */
  /* transition: 100ms ease-in-out; */
}

.main-services-slider .slick-list {
  padding: 0 !important;
}

.main-team-can-trust .slick-slider .slick-list {
  padding: 0px 0px !important;
}

.main-team-can-trust .slick-slider .slick-dots {
  bottom: -75px !important;
  display: flex !important;
}

.main-team-can-trust .slick-slider .slick-dots li {
  margin: 0 0.75rem;
}

.main-team-can-trust .slick-slider .slick-dots li button:before {
  width: 1.75rem;
  height: 0.25rem;
  background-color: #90a8ff;
  border-radius: 2px;
  font-size: 0px;
  border: 0;
}
.main-team-can-trust .slick-slider .slick-dots .slick-active button:before {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .card-box-style {
    width: 100%;
    min-height: 24rem;
    padding: 1.75rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  .service-page-slider-mobile {
    max-width: 100vw;
    width: 100%;
  }
  .service-page-slider-mobile .card-box-style-mobile {
    max-width: 100vw;
    width: 100%;
    min-height: 24rem;
    padding: 1.75rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .main-team-can-trust .slick-slider .slick-dots {
    bottom: -75px !important;
    display: block !important;
  }
}
