@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/typography.css";
@import "../styles//navigationStyles.css";
@import "../styles/allSliderGlobalStyles.css";
@import "../styles/homeGlobalStyles.css";
@import "../styles/serviceGlobalStyles.css";
@import "../styles/contactGlobalStyles.css";

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space_Grotesk", "Poppins", "Oswald", sans-serif;
}

body {
  background: #f9f7ee;
  height: auto;
  /* min-height: 200vh; */
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background: "#FF5722";
}

.main:before {
  /* background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%); */
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  /* background-image: url("/assets/images/grid.svg"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.mainPaddingLeftRight148 {
  padding-left: 9.25rem;
  padding-right: 9.25rem;
}
.mainPaddingTopBottom100 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.mainPaddingLeftRight15 {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}

.f-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #c7c7d7;
  border-radius: 50%;
}

.shadow-button-set {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vmin;
  border-radius: 10px;
}

.shadow-button-set > li {
  display: inline-flex;
  border-radius: 5px;
}

.shadow-button-set > li:is(:hover, :focus-within) > button:not(:active) {
  --distance: 0px;
}

.shadow-button-set button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 195px;
  height: 57px;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -9%;
  font-weight: 400;
  font-family: var(--font-space-grotesk);
  background: #ed3237;
  border-radius: 4px;
  --distance: -3px;
  transform: translateX(var(--distance)) translateY(var(--distance));
}

@media (prefers-reduced-motion: no-preference) {
  .shadow-button-set button {
    will-change: transform;
    transition: transform 0.2s ease;
  }
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .shadow-button-set button {
    height: 40px;
    --distance: -3px;
  }
  .mainPaddingTopBottom100 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .career-apply-btn li {
    width: 100%;
  }
  .career-apply-btn li button {
    width: 100%;
  }
}

/* Tailwind Styles */

.app {
  @apply m-0 p-0;
  /* relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 ; */
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
