header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 50px;
  z-index: 10000;
  border-bottom: 1px solid #fff;
}

header.sticky {
  padding: 10px 75px 10px 50px;
  background: #1a1b24;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header .logo-brand {
  width: 112px;
  height: 90px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  /* color: #fff; */
  /* letter-spacing: 2px; */
  font-weight: 500;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky li a {
  /* color: #fff; */
}
header.sticky li #button-style {
  color: #000000;
}

header.sticky .logo-brand {
  width: 85px;
  height: 65px;
}

.home-spread-top-pink-nav {
  position: absolute;
  left: -5.063rem;
  top: -6.688rem;
  background-color: #a0f;
  width: 12.813rem;
  height: 12.813rem;
  flex-shrink: 0;
  opacity: 0.3;
  filter: blur(175px);
}

.home-spread-Big-pink-nav {
  position: absolute;
  right: -5.063rem;
  top: -6.688rem;
  background-color: #7454a9;
  width: 12.813rem;
  height: 12.813rem;
  flex-shrink: 0;
  opacity: 0.3;
  filter: blur(175px);
  z-index: -2;
}

@media screen and (max-width: 767px) {
  header {
    padding: 20px 40px;
  }

  .mobile-logo-section {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .mobile-open-closed-section {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .mobile-link-ul {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 75px;
  }
  .mobile-link-li {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  header.sticky {
    padding: 10px 15px 10px 15px;
    background: #1a1b24;
  }

  header .logo-brand {
    width: 80px;
    height: 65px;
    transition: 0.6s;
  }

  header ul {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    position: relative;
    list-style: none;
  }

  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    /* letter-spacing: 2px; */
    font-weight: 500;
    transition: 0.6s;
  }

  header.sticky .logo,
  header.sticky li a {
    color: #fff;
  }
  header.sticky li #button-style {
    color: #000000;
  }

  header.sticky .logo-brand {
    width: 85px;
    height: 65px;
  }
}
