.service-setup-project {
  padding-top: 9.688rem;
}
.service-our-quality {
  padding-top: 3.75rem;
  /* padding-bottom: 6.25rem; */
}
.service-Our-processBox {
  width: 100%;
  height: 9.688rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 1px solid #83a17d;
}

.spreadBox-color {
  position: absolute;
  left: -18.5rem;
  top: -8rem;
  background-color: #e30052;
  width: 15.625rem;
  height: 38.125rem;
  transform: rotate(-135deg);
  flex-shrink: 0;
  border-radius: 38.125rem;
  opacity: 0.3;
  filter: blur(134.6666717529297px);
}

.spreadBox-color-trust {
  position: absolute;
  left: -12rem;
  top: 16rem;
  background-color: #e30052;
  width: 15.625rem;
  height: 38.125rem;
  transform: rotate(-135deg);
  flex-shrink: 0;
  border-radius: 38.125rem;
  opacity: 0.3;
  filter: blur(134.6666717529297px);
}

.spreadBox-color-career {
  position: absolute;
  left: -18.5rem;
  top: 8rem;
  background-color: #e30052;
  width: 15.625rem;
  height: 38.125rem;
  transform: rotate(-135deg);
  flex-shrink: 0;
  border-radius: 38.125rem;
  opacity: 0.3;
  filter: blur(134.6666717529297px);
}

@media screen and (max-width: 767px) {
  .service-setup-project {
    padding-top: 3.75rem;
  }
  .service-our-quality {
    padding-top: 3.75rem;
    padding-bottom: 0rem;
  }
  .service-Our-processBox {
    width: 100%;
    height: auto;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid #83a17d;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .service-setup-project {
    padding-top: 2.5rem;
  }
  .card-box-style {
    min-height: 42rem;
    padding: 2rem 1.5rem;
    border-radius: 0px;
  }
}
